<div class="wrapper">
  <section id="top">
    <%= image_tag('logo.png') %>
  </section>

  <section id="btn-area">
    <%= link_to "テスト1", show_path, {:class => "btn-blue"} %>
    <%= link_to "テスト2", root_path, {:class => "btn-blue"} %>
    <%= link_to "テスト3", root_path, {:class => "btn-blue"} %>
  </section>
</div>
