<div class="wrapper">
  <section id="second">
    この方で間違いありませんか？
  </section>

  <section id="user-top">
    <img src=<%= params["avatar_image_url"] %>>
    <div class="user-name">
      <%= params["name"] %>
    </div>
  </section>

  <section id="btn-area">
    <%= link_to "呼び出す", thanks_path(params), {:class => "btn-blue"} %>
    <%= link_to "キャンセル", root_path, {:class => "btn-blue"} %>
  </section>
</div>
