<div class="wrapper">
  <section id="top">
    <%= image_tag('logo.png') %>
  </section>

  <section id="btn-area">
    <%= link_to "お約束している方", index_path, {:class => "btn-blue"} %>
    <%= link_to "面接でご来社の方", index_path, {:class => "btn-blue"} %>
    <%= link_to "集荷や配達の方", root_path, {:class => "btn-blue"} %>
  </section>
</div>
