// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #0082cd;
$white: #fff;

//-----------------------------------------------------//

section#top {
  text-align: center;
  padding: 10px;
  margin: 80px 0px;
  img {
    width: 80%;
  }
}

section#second {
  text-align: center;
  padding: 10px;
  margin: 50px 0px;
  font-size: 2rem;
  font-weight: bold;
}

section#user-top {
  text-align: center;
  img {
    width: 150px;
    border-radius: 100%;
  }
  .user-name {
    margin-top: 20px;
    font-size: 1.8rem;
  }
}


section#btn-area {
  text-align: center;
  padding: 20px;
}

.btn-blue {
  margin-top: 40px;
  padding: 10px;
  width: 100%;
  display: block;
  background-color: $blue;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  border-radius: 5px;
  border-bottom: solid 3px #0067a3;
  color: $white;
}

.nav {
  background-color: $blue;
  padding: 15px 10px;
  position: fixed;
  width: 100%;
  display: block;
  z-index: 100;
  a {
    color: $white;
  }
}

section#member {
  padding-top: 50px;
  a {
    color: #333;
  }
  .m-area {
    border-bottom: 1px #F4F6F6 solid;
    margin: 0px 10px;
    padding: 10px 0px;
    img {
      width: 80px;
      border-radius: 100px;
      border: $white solid 3px;
    }
    .m-name-area {
      display: inline-block;
      position: relative;
      font-size: 1.8rem;
      font-weight: bold;
      margin-left: 20px;
    }
  }
}
